footer{
    background-color: white;
    position: relative;
    padding: 10rem;
    @include respond(phone){
        padding: 10rem 4rem;
    }
    .col-5{
        @include respond(phone320){
            padding-left: 0;
        }
    }
    .get{
        font-weight: bold;
        @include respond(phone){
            font-size: 20px;
        }
    }
    p{
        font-size: 1.6rem;
        margin: 0;
        @include respond(phone){
            font-size: 14px;
        }
        @include respond(phone320){
            font-size: 12px;
        }
    }
    a{
        color: #222222;
        &:hover{
            color: #222222;
        }
        @include respond(phone){
            font-size: 14px;
        }
        @include respond(phone320){
            font-size: 12px;
        }
    }
    .contact{
        list-style: none;
        li{
            display: inline-block;
            img{
                width: 2.5rem;
                height: 2.5rem;
                margin-right: 1rem;
                @include respond(tab-port){
                    width: 4.5rem;
                    height: 4.5rem;
                }
            }
        }
    }

    .for-lg-sc{
        display: flex;
        justify-content: space-between;
        @include respond(phone){
            display: none;
        }
        li{
            display: inline-block;
            list-style: none;
            // margin-right: 1.5rem;
            a{
                font-size: 2rem;
                &:hover{
                    color: #222222;
                }
            }
        }
    }

    .for-sm-sc{
        display: none;
        @include respond(phone){
            display: flex;
            justify-content: space-between;
        }
        li{
            display: inline-block;
            list-style: none;
            // margin-right: 1.5rem;
            a{
                font-size: 2rem;
                &:hover{
                    color: #222222;
                }
            }
        }
    }
}
