footer{
    padding: 10rem;
        @include respond(phone){
            padding: 10rem 5rem;

        }
    p{
        margin: 0;
    }
    a{
        color: #222222;
    }
    ul{
        list-style: none;
        li{
            display: inline-block;
            img{
                width: 2.5rem;
                height: 2.5rem;
                margin: .4rem;
            }
        }
    }
}