footer{
    background-color: white;
    position: relative;
    padding: 10rem;
    @include respond(phone){
        padding: 10rem 4rem;
    }
    .get{
        @include respond(phone){
            font-size: 20px;
        }
    }
    h2{
        @include respond(phone){
            // font-size: 20px;
        }
    }
    p{
        margin: 0;
        @include respond(phone){
            font-size: 14px;
        }
        @include respond(phone320){
            font-size: 12px;
        }
    }
    a{
        color: #222222;
        @include respond(phone){
            font-size: 14px;
        }
        @include respond(phone320){
            font-size: 12px;
        }
    }
    ul{
        list-style: none;
        li{
            display: inline-block;
            img{
                width: 2.5rem;
                height: 2.5rem;
                margin: .4rem;
            }
        }
    }
}
