header{
    background-color: white;
    position: relative;
    .header_menu{
        padding: 4rem;
        background-color: white;
        position: relative;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style: none;
            align-items: center;
        }
    }
}
