header{
    background-color: white;
    position: relative;
    .header_menu{
        padding: 4rem;
        background-color: white;
        position: relative;
         @include respond(phone){
            // padding: 4rem 2rem;
         }
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style: none;
            align-items: center;
            li{
                z-index: 3;
            }
        }
    }
    // .hd_bg{
    //     position: absolute;
    //     background-color: #222222;
    //     top: 0;
    //     right: -100%;
    //     width: 100%;
    //     height: 100%;
    //     z-index: 2;
    // }
}
