.menu{
    background-color: #ffba00;
    text-align: center;
    position: fixed;
    width: 100%;
    height:100%;
    transform: translateX(100%);
    transition: all .5s ease-out;
    .header_menu{padding: 4rem;}
    ul{
        list-style: none;
        li,a{
            color: white;
            padding: 3rem;
            font-size: 3rem;
            cursor: pointer;
        }
        a{
            &:hover{
                text-decoration: none;
                 color: #222222 !important;
            }
        }
    }
}


.active{
    transform: translateX(0);
    z-index: 2;
}
.contents{
    transition: all .7s ease-out;
    overflow: hidden;
    background-color: white;
    position: relative;
}

.closeContent{
    transform: translatex(-110%);
}


.overlay{
    transition: all .7s ease-out
}

.overlaymenu{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #918f8f9e;
    z-index: 1;
}

.activeoverlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #918f8f9e;
    z-index: 1;
}