.button_hire{
    padding: 3rem 13rem;
    background-color: #FFBA00;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 5rem;
    box-shadow: 0 19px 42px -12px rgba(255, 187, 0, 0.35);
    border: none;
    cursor: pointer;
    color: white;
    &:hover{
        color: #222222;
    }
    h2{
        margin: 0;
    }
    @include respond(phone){
        padding: 2rem 5rem;
    }
    @include respond(phone320){
        height: 6rem;
        padding: 2rem 3rem;
    }
}