.button_hire{
    padding: 3rem 13rem;
    background-color: #FFBA00;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 5rem;
    box-shadow: 0 19px 42px -12px rgba(255, 187, 0, 0.35);
    border: none;
    cursor: pointer;
    color: white;
    &:hover{
        color: #222222;
        animation: color-change-2x .5s linear infinite alternate both;
    }
    h2{
        margin: 0;
    }
    @include respond(tab-port){
        padding: 3rem 10rem;
    }
    @include respond(phone){
        padding: 2rem 0;
        width: 100%;
    }
}