.width100{
    max-width: 100vw;
    width: 100vw;
    margin: 0 calc(-50vw + 50%);
    padding: 10rem 0 10rem 0;
}

.button_seeLive{
    display: inline-block;
    background-color: #FFBA00;
    color: white;
    width: 19rem;
    padding: 1.5rem 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #FFBA00;
  border: 0px none #ffffff;
  border-radius: 60px;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #e2e2e2;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.textHeader{
  padding: 10rem 30rem 20rem 30rem;

  h1{
      font-size: 4.5rem;
  }
}