.section_first-about{
    padding: 10rem 0 10rem 0;

    h1{
        font-size: 4.5rem;
    }
}

.section_second-about{
    background-color: black;
    position: relative;
    background-color: #222;
    color: white;
    .box{
        @include respond(phone){
            margin-bottom: 5rem;
        }
        h2{
            font-size: 4.5rem;
            // font-family: 'Brandon-grotesque-regular';
            font-family: "times-new-roman-bold";
            font-weight: 700;
        }
    }
}

.section_third-about{
    margin: 10rem;
    // border-bottom: 1.5px solid rgba(214, 214, 214, 0.966);
    padding: 4rem;
    @include respond(phone){
        margin: 0 3rem;
        padding: 4rem 1rem;
    }
    .box{
        display: flex;
        align-items: center;
        position: relative;
        &-image{
            width: 93%;
            height: 45rem;
            position: absolute;
            bottom: -20px;
            left: 0;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
            }
        }
        &-image2{
            width: 80%;
            height: 40rem;
            position: absolute;
            bottom: -86px;
            left: -82px;
            z-index: 2;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &:nth-child(2){
            justify-content: center;
        }
        .row{
            @include respond(phone){
                &:nth-child(2){
                    justify-content: center;
                }
            }
        }
        h2{
            font-size: 7rem;
            font-family: "times-new-roman-bold";
            font-weight: 700;
        }
        ul{
            li{
                list-style: none;
                // font-size: 5.5rem;
                // font-family: "times-new-roman-bold";
                margin: 2rem;
                a{
                    font-size: 5.5rem;
                    font-family: "times-new-roman-bold";
                    color: #222;
                    display: inline-block;
                    cursor: pointer;
                }
                .half_color{
                    position: relative;
                    color: #222;
                    span{
                        height: 0%;
                        position: absolute;
                        color: #ffba00;
                        overflow: hidden;
                        transition: .5s height;
                    }
                    &:hover{
                        span{
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
    .image-desktop{
        @include respond(tab-port){
            display: none;
        }
    }
}

.section_fourth-about{
    margin: 10rem;
    padding: 4rem;
    @include respond(phone){
        margin: 0;
    }

    .box{
        display: flex;
        align-items: center;
        &:nth-child(2){
            justify-content: center;
        }
        h2{
            font-size: 7rem;
            font-family: "times-new-roman-bold";
            font-weight: 700;
        }
        ul{
            li{
                list-style: none;
                font-size: 3rem;
                padding: 2rem 0;
                color: #FFBA00;
            }
        }
        .box-photo{
            position: relative;
            margin: 1rem;
            img{
                width: 100%;
                height: 100%;
            }
            .lazy-load-image-background{
                &::after{
                    content: '';
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255, 187, 0, 0.493);
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
            .overlay-yellow{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex-direction: column;
                text-align: center;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                p{
                    font-size: 2rem;
                    display: inline-block;
                    color: white;
                }
            }
        }
    }
}