.section_first-blog{
    padding: 10rem 0 10rem 0;
    text-align: center;
    position: relative;
    // background-color: white;
    @include respond (phone){
        padding: 10rem 4rem;
    }
    h1,h2{
        font-family: "times-new-roman-bold";
        font-weight: 700;
        font-size: 4.5rem;
        text-transform: uppercase;
    }
}

.blog_contents{
    // background-color: white;
    position: relative;
    .featured{
        list-style: none;
        li{
            display: inline-block;
            margin-right: 1rem;
        }
    }

    &__box{
        padding: 4rem 0;
        border-bottom: 1px solid rgb(236, 238, 241);
        cursor: pointer;
        &-p{
            h2{
                font-size: 3rem;
                // font-family: "Brandon-grotesque-black";
                // font-family: "FaktPro-semiBold";
                font-family: "times-new-roman-bold";
            }
            p{
                text-align: justify;
            }
        }
        .content-blog{
            @include respond(phone){
                padding: 0 4rem;
            }
        }
        .img-blog{
            @include respond(phone){
                padding: 0;
            }
            img{
                object-fit: contain;
            }
            @include respond(phone){
                margin-bottom: 3rem;
            }
        }
    }
}