.section_first-project{
    position: relative;
    // background-color: white;
    padding: 10rem 10rem;
    @include respond (tab-port){
        padding: 10rem 4rem;
    }
    h1{
        font-size: 4.5rem;
        // font-family: 'Brandon-grotesque-black';
        font-family: "FaktPro-semiBold";
        font-weight: 700;
    }
    p{
        margin: 6rem 0;
    }
    .button_seeLive{
        color: white;
        cursor: pointer;
        text-decoration: none;
        &:hover{
            text-decoration: none;
            color: #222222;
        }
    }
}

.section_second-project{
    position: relative;
    // background-color: #ffffff;
    min-height: 65rem;

    // background-color: #f6f6f6;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    @include respond(tab-port){
        min-height: 45rem;
    }
    @include respond(phone){
        min-height: 27rem;
    }
    img{
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        transition: opacity 1s linear;
        height: 100%;
        object-fit: cover;
        @include respond(tab-port){
            height: 100%;
        }
    }
    .loaded{
        opacity: 1;
    }
    .img-small {
        filter: blur(50px);
        /* this is needed so Safari keeps sharp edges */
        transform: scale(1);
    }
}

.section_third-project{
    position: relative;
    // background-color: white;
    padding: 10rem 10rem;
    @include respond (tab-port){
        padding: 10rem 4rem;
    }
    h2{
        // font-family: 'Brandon-grotesque-black';
        font-family: "FaktPro-Semibold";
        font-size: 4.5rem;
        margin-bottom: 4rem;
    }
}

.section_fourth-project{
    position: relative;
    // background-color: white;
    background: linear-gradient(#ffffff 50%,#464646 0);
    height: 60rem;
    @include respond(phone){
        background: linear-gradient(#fff 35%,#464646 0);
        height: 45rem;
    }
    img{
        height: 45rem;
        object-fit: contain;
        @include respond(phone){
            height: 30rem;
            object-fit: cover;
        }
    }
    .slick-dots {
        bottom: -80px;
        @include respond(phone){
            bottom: -55px;
        }
    }
    .slick-dots li.slick-active button:before {
        opacity: .75;
        color: #fff;
    }
    .slick-dots li button:before {
        color: rgb(148, 148, 148);
    }
}

.section_fifth-project{
    position: relative;
    // background-color: white;
    padding: 10rem 10rem;
    @include respond (tab-port){
        padding: 10rem 4rem;
    }
    h2{
        // font-family: 'Brandon-grotesque-black';
        font-family: "FaktPro-Semibold";
        font-size: 4.5rem;
        margin-bottom: 4rem;
    }
}

.section_sixth-project{
    background: linear-gradient(#ffffff00 20%,#4646461e 0);
    height: 70rem;
    position: relative;
    @include respond(phone){
        height: 50rem;
    }
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 64rem;
        box-shadow: 0 2px 4px rgba(3,27,78,.06);
        @include respond(phone){
            width: 45rem;
        }
    }
}

.section_seventh-project{
    position: relative;
    // background-color: white;
    height: 65rem;
    @include respond(phone){
        height: 28rem;
    }
    .video-react .video-react-big-play-button {
        height: 3em;
        width: 3em;
        border: .06666em solid #fff;
        background-color: rgba(43, 51, 63, 0.096);
        border-radius: 50px;
    }
    .video-react .video-react-big-play-button:before, .video-react .video-react-control:before {
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: contents;
    }
    .video-react.video-react-4-3, .video-react.video-react-16-9, .video-react.video-react-fluid {
        height: 100%;
        padding: 0 !important;
    }
}

.section_eighth-project{
    position: relative;
    // background-color: white;
    padding: 10rem 10rem;
    @include respond (tab-port){
        padding: 10rem 4rem;
    }
    .quotes{
        // font-family: 'Brandon-grotesque-regular';
        font-family: "FaktPro-Semibold";
        font-style: italic;
    }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            list-style: none;
            display: inline-block;
            h1,p{
                margin: 0;
            }
            .rounded {
                border-radius: 15.25rem!important;
                width: 5rem;
                @include respond(phone){
                    width: 8rem;
                }
            }
        }
        .client-name{
            padding-left: 2rem;
            p:last-child{
                font-size: 15px;
            }
        }
    }
}

.section_ninth-project{
    position: relative;
    background-color: #FFBA00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10rem;
    @include respond(phone){
        padding: 10rem 4rem;
    }
    p{
        @include respond(phone){
            line-height: 40px;
            font-size: 15px;
        }
        color: white !important;
    }
    a{
        cursor: pointer;
        color: white !important;
        &:nth-child(1){
            font-size: 2rem;
        }
        &:nth-child(2){
            font-size: 3rem;
        }
        &:hover{
            text-decoration: none;
            ul{
                li{
                    p{
                        color: #222222 !important;
                        @include respond(phone){
                            color: white !important;
                        }
                    }
                }
            }
        }
        ul{
            list-style: none;
            margin: 0;
            display: flex;
            align-items: center;
            &:last-child{
                li{
                    margin-left: 2rem;
                    p{
                        margin-bottom: 0;
                        @include respond(phone){
                            font-size: 19px;
                        }
                    }
                }
            }
            li{
                display: inline-flex;
            }
        }
    }
}

