.section_first-search{
    padding: 5em 0 5rem 0;
    text-align: center;
    position: relative;
    background-color: white;
    input{
        height: 9.4rem;
        font-size: 7rem;
        border: none;
        border-bottom: 1px solid rgb(236, 238, 241);
        color: #222;
        &:focus{
            box-shadow: none;
            border-bottom: 1px solid rgb(236, 238, 241);
        }
    }
    .btn{
        border: none;
        border-bottom: 1px solid rgb(236, 238, 241);
        // background-image: url('http://localhost:3007/images/image/icons/search_black.svg');
        // background-size: contain;
        // background-repeat: no-repeat;
        img{
            width: 60px;
            @include respond(phone){
                width: 20px
            }
        }
        &:hover{
            background-color: white;
        }
        &:focus{
            box-shadow: none;
            background-color: white;
        }
    }
    h1{
        font-family: "Brandon-grotesque-black";
        font-size: 4.5rem;
    }
}


